/*=============================
=            GLOBALS            =
=============================*/

// @import "global";

/*=======================================
=       PUBLIC:  PLUGIN STYLES          =
=======================================*/


#mpf-related-posts {

	text-align: center;
	padding-top: 1rem;

	a.get-related-posts {
		border: 1rem solid #e3e3e3;
		background-color: #e3e3e3;
		text-decoration: none !important;
		display: block;
		width: 100% !important;
	}

	.ajax-loader {
		display: none;
	}

	.post-block {
		border: 1px solid #e3e3e3;
		padding-top: 1rem;
		background-color: lighten(#e3e3e3, 7%);

		p {
			padding-left: 1rem;
			padding-right: 1rem;
		}
		img {
			margin: 0 auto;
			clear: both;
		}
	}

}